
@font-face {
    font-family: 'lst';
    src: url('/fonts/lst.woff2') format('woff2'),
         url('/fonts/lst.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LSTFont';
    src: url('/fonts/lst.woff2') format('woff2'),
         url('/fonts/lst.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.checkbox-icon {
    width: 24px;  /* Ensuring consistent size */
    height: auto;
    margin-right: 5px;  /* Space between icon and text */
}

.bucket-list-container {
    width: 100%;  /* Full width for container */
    text-align: left;  /* Ensuring left alignment */
    max-width: 800px;  /* Optional max width to avoid excessive stretch */
    padding: 0 1rem;  /* Add padding for better readability */
}

/* Style to handle cross-out effect for checked items */
.bucket-list-item.checked span {
    text-decoration: line-through;
    opacity: 0.5;  /* Optional faded effect */
}

/* Font family for specific elements */
.bucket-list-item span,
.bucket-list-item a {
    font-family: 'lst', Arial, sans-serif;
}

.custom-footer-pretext {
    text-align: center;
    color: #666;  /* Default color, change as needed */
    font-size: 12px; /* Default font size, change as needed */
    margin: 12px 0; /* Adds spacing around the text */
}

